/***********
*
*       Global
*
************/

* {
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0px;
    font-size: 1rem;

    /* background-color: antiquewhite; */
}

.section_page {
    width: 80%;
    margin: auto;
}

/**** HEADER NAV GLOBAL *****/
.nav_global {
    display: flex;
    padding: 1% 2% 1% 2%;
    justify-content: space-between;
}

.nav_global_ol {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0px;
    padding: 0px;
}

.nav_global_ol_li {
    padding-bottom: 5px;
}

.nav_global_ol_li_a {
    text-decoration: none;
    color: white;
    padding: 0px 5px 0px 5px;
}

.nav_global_ol_li_a:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 4px 0px 4px;
}

#active-page {
    border-bottom: 1px solid white;
}


.nav_global_connexion_acessi .nav_global_connexion_acessi_link {
    text-decoration: none;
    color: white;
}

.nav_global_connexion_acessi .nav_global_connexion_acessi_eye {
    margin-right: 10px;
}


/***** FOOTER *****/
.footer {
    background-color: rgb(29, 29, 29);
    color : white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 80px 40px;
}

.footer_title {
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 4rem;
}

.footer_last_actu,
.footer_next_film {
    width: 35%;
}

.footer_last_actu_content_header {
    display: flex;
    justify-content: space-between;
}

.footer_last_actu_content_img,
.footer_last_actu_content_title {
    width: 45%;
}

.footer_soustitle {
    font-size: 1.3rem;
    margin-top: 2px;
    margin-bottom: 0px;
}

.footer_button {
    display: block;
    border: 1px solid red;
    border-radius: 50px;
    background-color: red;
    color:white;
    width: 40%;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

.footer_nav {
    width: 25%;
    text-align: center;
    border-left: 1px solid rgb(82, 82, 82);
    border-right: 1px solid rgb(82, 82, 82);
}

.footer_nav_ol {
    list-style: none;
    padding: 0px;
}

.footer_nav_ol_li{
    padding: 10px 0px;
}

.footer_nav_ol_li_a{
    text-decoration: none;
    color: white;
    padding-bottom:5px;
}

.footer_nav_ol_li_a:hover{
    border-bottom: 1px solid white ;
}

.footer_next_film_header {
    display: flex;
    justify-content:flex-start;
    padding-bottom: 2rem;
}

.footer_next_film_header_img {
    width: 20%;
    height: 40%;
}

.footer_next_film_header_content {
    width: 75%;
    padding-left: 8%;
}

.footer_next_film_header_content_head {
    display: flex;
    justify-content: space-between;
}

.footer_next_film_header_content_head_a {
    text-decoration: none;
    color : white;
}

.footer_next_film_header_content_head_p {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px 5px;
    font-style: italic;
    background-color:red;
}

.footer_next_film_header_content_info {
    padding-top: 10px;
}

.footer_next_film_header_content_info_p {
    margin: 0px;
    font-style:italic;
    font-size: 0.8rem;
}

.footer_next_film_header_content_info_span {
    font-weight: 900;
}


/***********
*
*       Page Accueil
*
************/
#header-home {
    background-image: url("./pictures/background_accueil_titre.jpg");
    background-size: 100%;
    background-color: rgb(0 0 0 / 50%);
    background-repeat: no-repeat;
    height: 70rem;
    background-blend-mode: color;
}


.intro_page {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color : white;
    width: 70%;
    height: 80%;
    margin: auto;
}

.intro_page_title {
    font-weight: 900;
    font-size: 6rem;
}

.intro_page_txt {
    font-size: 1.5rem;
}




/***** SECTION FILM PROGRAMME *****/
#program-film {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    top: -100px;
}

.card_film_wrap {
    width: 33.33%;
    padding: 10px ;
}

.card_film_in {
    background-color: black;
}

.card_film {
    height: 250px;
    text-align: center;
    display: block;
    text-decoration: none;
    color:white;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:  rgb(0 0 0 / 50%);
    background-blend-mode: color;
    position: relative;
}

.card_film_content_wrap {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card_film .card_film_program {
    margin-top: 0px;
    width: 40%;
    color: white;
    background-color: red;
    font-size: 1.5rem;
    font-weight: 900;
}

.card_film .film_title {
    font-size: 3rem;
    padding: 0px 10px;
}

.film_resume {
    display: none;
}

.card_film_wrap:hover .card_film {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_film_wrap:hover .film_title{
    display: none;
}

.card_film_wrap:hover .film_resume{
    display: block;
    width: 100%;
    padding: 0px 10px;
    margin-top: 5%;
    background-color: transparent;
    font-size: 1.5rem;
}


/***** Affiche film *****/
#film-enterthevoid {
    background-image: url("./pictures/films/Enter_the_Void.jpg");
}

#film-deadman {
    background-image: url("./pictures/films/Dead_Man.jpg");
}

#film-holymotors {
    background-image: url("./pictures/films/Holy_Motors.jpg");
}

#film-voldessusnidcoucou {
    background-image: url("./pictures/films/Vol_au_dessus_d_un_nid_de_coucou.jpg");
}

#film-eraserhead {
    background-image: url("./pictures/films/Eraserhead.jpg");
}

#film-guerriersilencieux {
    background-image: url("./pictures/films/Le_Guerrier_silencieux_Valhalla_Rising.jpg");
}

#film-enemy {
    background-image: url("./pictures/films/Enemy.jpg");
}

#film-melancholia {
    background-image: url("./pictures/films/melancholia.jpg");
}



.title_actu,
.newsletter_title {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.card_actu_button{
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
    padding: 5px 0px;
    border-radius: 20px;
    background-color: red;
    border: 1px solid red;
    color:white;
    text-decoration: none;
    font-weight: 900;
}

.card_actu_button:hover {
    border: 1px solid red;
    background-color: white;
    color:red;
}


/***** SECTION ACTU *****/
.card_actu_wrap {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.card_actu {
    width: 40%;
    border: 2px solid black;
    text-align: center;
}

.card_actu_img_wrap{
    overflow: hidden;
}

.card_actu_img {
    width: 100%;
    transition:  transform 0.5s ease;
}

.card_actu_title {
    border-bottom: 1px solid black;
    padding: 5px 0px;
    margin: 0px;
    font-weight: 900;
    font-size: 1.5rem;
}

.card_actu_resume {
    padding: 5px 10px;
}

.card_actu_button .fas {
    padding-right: 10px;
}

.card_actu:hover .card_actu_img{
    transform: scale(1.1);
}



/***** SECTION NEWSLETTER *****/
#newsletter {
    padding-bottom: 5%;
    display:flex;
    flex-direction: column;
}

.newsletter_formulaire {
    display:flex;
    justify-content: center;
}

.newsletter_title {
    padding-top: 3rem;
}

.newsletter_formulaire {
    width: 60%;
    margin: auto;
    position: relative;
}

.newsletter_formulaire_inputmail {
    font-size: 1.2rem;
    padding: 5px 0px 5px 50px;
    width: 75%;
    border: 1px solid black;
    border-right: none;
    outline: none;

}

.newsletter_formulaire .fa-envelope {
    font-size: 1.2rem;
    position: absolute;
    left: 8%;
    top: 22%;
    padding-right: 8px;
    border-right: 1px solid black;
}

.newsletter_formulaire_button {
    margin-bottom: 0px;
    width: 105px;
    background-color: red;
    border: 1px solid red;
    color: white;
    font-weight: 900;
    font-size:1rem;
}

.newsletter_formulaire_button_span{
    display: block;
}

.newsletter_formulaire_button .fa-arrow-right{
    display: none;
    color: white;
}

.newsletter_formulaire_button:hover .fa-arrow-right {
    display:block;
}

.newsletter_formulaire_button:hover .newsletter_formulaire_button_span {
    display:none;
}

.newsletter_formulaire_inputmail:focus {
    border: 3px solid black;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    padding: 3px 0px 3px 50px
}

.newsletter_formulaire_inputmail:focus ~ .newsletter_formulaire_button {
    border: 4px solid red;
    border-radius: 0px 4px 4px 0px;
}


/***********
*
*       Page liste Actualités
*
************/
#header-actu {
    background-image: url("./pictures/background_actu.jpg");
    background-size: 100%;
    background-color: rgb(0 0 0 / 50%);
    background-repeat: no-repeat;
    height: 40rem;
    background-blend-mode: color;
}

#page-actu {
    padding-top: 5%;
    padding-bottom: 5%;
}

.section_actu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section_actu .card_actu_wrap {
    display: block;
    width: 25%;
    padding: 10px;
}

.section_actu .card_actu {
    width: 100%;
}

.pagination_wrap {
    width: 40%;
    margin: auto;
    padding: 40px;
}

.pagination_in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page_number {
    color: gray;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
}

.page_number_actif {
    color: black;
}

.page_number:hover .page_number_bar{
    border-bottom: 2px solid gray;
}

.page_number_actif:hover .page_number_bar{
    border-bottom: 2px solid black;
}

.page_bar,
.page_number {
    cursor: pointer;
    text-decoration: none;
}

.page_bar {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position : relative
}

.half_bar {
    border: 1px solid black;
    width: 20%;
}

.half_bar_left {
    transform-origin: left;
}

.half_bar_right {
    transform-origin: right;
}

.half_bar_top {
    transform: rotate(-30deg);
    position: absolute;
    top:0.5px;
}

.half_bar_bottom {
    transform: rotate(30deg);
}

.page_bar:hover .half_bar_top {
    transform: rotate(-20deg);
}

.page_bar:hover .half_bar_bottom {
    transform: rotate(20deg);
}





/***********
*
*       Page article Actu
*
************/
#header-article-actu {
    background-image: url("./pictures/actu3.jpeg");
    background-size: 100%;
    background-color: rgb(0 0 0 / 50%);
    background-repeat: no-repeat;
    height: 40rem;
    background-blend-mode: color;
}

#page_article_actu {
    padding-bottom: 5%;
}

.back_actu_wrap {
    padding: 20px;
    font-size: 1.5rem;
    
}

.back_actu_link {
    text-decoration: none;
    color : gray;
    padding-left: 2%;
}

.back_actu_link:hover {
    color : black;
}

.back_actu_link .fas {
    padding-right: 10px;
}

.article_actu_source {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    align-items: baseline;
}

.article_actu_source_date {
    font-style: italic;
    font-size: 0.9rem;
}



/***********
*
*       Page Film
*
************/
/****  SECTION INFO FILM  ****/
#header-film .nav_global_ol_li_a,
#header-film .nav_global_connexion_acessi_link .fas {
    color : black;
}

#header-film .nav_global_ol_li_a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#section-film {
    padding-top: 5%;
    display: flex;
    justify-content: flex-start;
}

.section_film_info {
    padding-left: 50px;
}

.section_film_info_title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 3rem;
}

.section_film_info_actor,
.section_film_info_rea {
    margin: 0px;
    font-style: italic;
}

.section_film_info_bold {
    font-weight: 900;
}

.section_film_info_ressume {
    padding-top: 40px;
}


/*** SECTION RESERVATION ***/
#section-resa {
    padding-top: 2%;
}

.section_resa_title {
    font-size: 2rem;
}

.section_resa_reserver {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 60%;
    margin: auto;
    padding-bottom: 5%;
}

.section_resa_reserver_date {
    margin: 0px;
}

.section_resa_reserver_button {
    background-color: red;
    color:white;
    font-weight: 900;
    border: 2px solid red;
    border-radius: 20px;
    font-size: medium;
    padding: 5px 25px;
}


.section_resa_reserver_button:hover {
    background-color: white;
    color:red;
    border: 2px solid red;
}

.section_resa_reserver_button .fas {
    padding-right: 5px;
}

/***********
*
*       Page Contact
*
************/
#header-contact {
    background-image: url("./pictures/background_contact.jpg");
    background-size: 100%;
    background-color: rgb(0 0 0 / 50%);
    background-repeat: no-repeat;
    height: 40rem;
    background-blend-mode: color;
}


/**** SECTION GOOGLE MAP / ADRESSE *****/
#section-contact-map {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 5%;
}

.contact_map_img {
    width: 35%;
    box-shadow: 2px 2px 20px black;
}

.contact_map_content {
    width: 55%;
}

.contact_map_content_title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.contact_map_content_adress {
    font-style: italic;
    padding-bottom: 5%;
}


/**** SECTION FORMULAIRE *****/
#section-contact-formulaire {
    padding-top: 4%;
    padding-bottom: 5%;
    width: 60%;
}

.contact_formulaire {
    display: flex;
    flex-direction: column;
}

.contact_formulaire_identity {
    display: flex;
    justify-content: space-between;
}

.contact_input_size,
.contact_textarea_size {
    font-size: 1rem;
    padding: 2px 10px;
    margin-bottom: 1%;
}



#prenom, 
#nom {
    width: 45%;

}

.contact_formulaire_textarea {
    resize: none;
    margin-top: 2%;
}

.contact_formulaire_button {
    width: 15%;
    margin: auto;
    margin-top: 2%;
    background-color: red;
    color:white;
    font-weight: 900;
    border: 2px solid red;
    border-radius: 20px;
    font-size: medium;
    padding: 6px;
}

.contact_formulaire_button:hover {
    background-color: rgb(255, 144, 144);
    color:white;
}

.contact_formulaire_button .fa-paper-plane {
    display: none;
    color: white;
    font-size:1.125rem;
}

.contact_formulaire_button:hover .fa-paper-plane {
    display: block;
}

.contact_formulaire_button:hover .contact_formulaire_button_send {
    display: none;
}



/***********
*
*       Page ACCESIBILITE
*
************/

#acces-typo,
#acces-header {
    display: flex;
    justify-content: center;
}


/**** TYPO *****/
.typo_choice,
.typo_size_plus,
.typo_size_moins {
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    font-size: 1.2rem;
    color: black;
}

.typo_brown {
    color: white;
    background-color: rgb(119, 95, 58);
    border: 1px solid rgb(119, 95, 58);
}

.typo_yellow {
    background-color: rgb(223, 200, 25);
    border: 1px solid rgb(223, 200, 25);
}

.typo_actif {
    text-decoration: underline;
}

.typo_size_plus,
.typo_size_moins {
    border: none;
    font-size: 1.6rem;
    padding: 10px 0px;
    margin : 5px 0px
}

/**** HEADER *****/
#acces-header {
    width: 60%;
    margin: auto;
    text-align: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.acces_header_title {
    font-size: 3rem;
    margin-bottom: 0px;
}














/***** RESPONSIVE *****/
@media screen and (max-width: 1620px) {
    #header-home {
        height: 56rem;
    }
}

@media screen and (max-width: 1340px) {
    #header-home {
        height: 46rem;
    }
}

@media screen and (max-width: 1105px) {
    #header-home {
        height: 40rem;
    }
}